jupyter
scikit-learn==1.2.2
pandas==1.5.3
scipy==1.10.1
matplotlib==3.7.1
seaborn==0.12.2
plotly::plotly==5.13.1

pmdarima==2.0.3
statsmodels==0.13.5
pymysql==1.0.3

sqlalchemy==2.0.9
"sqlalchemy-utils<=0.41.0"
conda-forge::shap==0.41.0
conda-forge::imbalanced-learn==0.10.1
lime
xgboost=='1.7.*'
pandas-datareader==0.10.0
# dython
beautifulsoup4
lxml
conda-forge::lightgbm==3.3.5

# conda-forge::missingno
conda-forge::tabulate
numexpr
openpyxl

html5lib
conda-forge::nbdime
conda-forge::xlsxwriter
conda-forge::dataframe_image

nltk==3.8.1
wordcloud==1.8.2.2
gensim==4.3.1
